.SetsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding-top: 15px;
  justify-content: center;
}

.searchField{
  height: auto;
  border-bottom: 2px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.searchContainer{
  width: 400px;}

.categorySpan{
  font-size: 15px;
  margin-top: 30px;
}

.categoryContainer{
  margin-top: 10px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 150px;
  overflow-y: scroll;
}

.Category:hover {
  filter: brightness(150%);
  cursor: pointer;

}