@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.Logo {
    font-size: 120px;
    font-family: "Nanum Gothic";
    background: #ffad64;
    font-weight: 400;
        
-webkit-background-clip: text;
    /*-webkit-linear-gradient(rgb(251, 251, 251), rgb(255, 136, 0));    -webkit-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}


.LogoBegin{
    background:white;
    -webkit-background-clip: text;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.LogoWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Description {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 400px;
    font-weight: 300;
    font-family: "Hanum Gothic", cursive;
}

.BeginButton {
    margin-top: 20px;
    background: transparent !important;
    border-color: #aaffaa !important;
    border-width: 2px !important;
    color: white !important;
    border-radius: 5px !important;
}
