.CardDescription{
}

.CardText{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.CardAuthor{
    margin-top: 30px;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
}

.CardAuthorText{
    font-weight: bold;
}

.CardInfo{
    display: flex;
    justify-content: space-between;
}

.CardHeader{
    display: flex;
    position: relative;
    gap: 35px;
    left: -70px;
}

.optionsButtonContainer{
    width: 100%;
    position: absolute;
    left: 40px;
}

.optionsMenu{
    position: relative;
    left: 108%;
}

.BackButton{
    position: relative;
    top: 8px;
}

.CardImage{
    border-radius: 10px;
}

.CardContainer{
    padding-left: 50px;
    width: 90%;
}

.CardCategories{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.CardCategoriesContainer{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.CardTable{
    margin-top: 25px;
}