@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

.App {
    background: rgb(255, 229, 86);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: 'Comfortaa', cursive;
    font-size: 11px;
    font-weight: 600;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.App-menu {
    border-radius: 10px !important;
}

.App-menu_wrapper {
    margin-left: 15px;
    padding-top: 20px;
}
.ant-btn:hover,
.ant-btn:focus {
    color: white !important;
    border-color: white !important;
}

.ant-menu-item-selected {
    color: #d55c1c !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ad494930 !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #be554d !important;
}

.ant-btn-primary {
    color: #fff;
    border-color: #c64641 !important;
    background: #d15f3a !important;
}

.App-main {
       margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 6px rgba(0, 0, 0, 0.166);
    width: 90%;
    min-height: 600px;
    background-color: white;
    padding: 50px;
}
.Main-card {
    text-align: center;
    width: 250px;
    height: 150px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.166);
}

.siderMenu{
    background: transparent !important;
    padding: 10px;
}

.mainLayout{
    background: transparent !important;
}

.outletLayout{
    background: transparent !important;
}

.contentLayout{
    background: transparent !important;
    display: flex;
    justify-content: center;

}
