.currentAttemptsContainer{
    width: 100%;
    height: 100%;
}
.LoaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
.SetsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding-top: 15px;
    justify-content: center;
}